body{
    margin: 0;
    background-color: #8f57fd;
    font-family: 'Muli', sans-serif;
}

.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__img{
    width: 200px;
}

.header__menu{
    margin-right: 60px;
    text-align: right;
}

.header__menu:hover .header__menu--ul, .header__menu--ul:hover{
    display: block;
}

.header__menu--profile{
    display: flex;
    align-items: center;
}

.header__menu--profile p{
    color: white;
    padding-left: 10px;
}

.header__menu--ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 110px;
    text-align: right;
    margin: 0 0 0 -1em;
}

.header__menu--ul li {
    margin: 10px 0;
}
.header__menu--ul li a:hover {
    text-decoration: underline;
} 
.header__menu--ul li a {
    color: white;
    text-decoration: none;
}

.main{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title{
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 25px;
}

.input{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    width: 70%;
    color: white;
    border-radius: 25px;
    height: 50px;
    font-family: 'Muli', sans-serif;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
}